.nav {
    transition: all 0.1s linear;
    position: fixed;
    z-index: 2000;
    padding: 20px;
    width: 100%;
    // top: 0;
    left: 0;
  }
  .scrollNav {
    transition: all 0.5s ease-in;
    z-index: 2000;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    top: 0;
    left: 0;
    #navbar{
        li {
          display: inline;
          list-style-type: none;
          margin: 5px 10px;
          a{
              text-decoration: none;
              color: black;
          }
          
        }
    }
  }

  #navbar{
          li {
            display: inline;
            list-style-type: none;
            margin: 5px 10px;
            a{
                text-decoration: none;
                color:white;
            }
            
          }
      }