body{

    background-image: url('../images/photos/construction1blkwhite.jpg');
}

.main{
    min-height: 100vh;
    min-width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 65%;
        filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.432));
    }
}